@page
@model MyBlog.Pages.LoginSuccess

@{
    ViewData["Title"] = "Login Success";
}


<h1>@ViewData["Title"]</h1>

@{
    <p>
        Login Successful.
        <a class="nav-link" asp-area="" asp-page="/index">Click here to continue.</a>
    </p>

}