@page
@model MyBlog.Pages.ArticleAddSuccess

@{
    ViewData["Title"] = "Article Add Success";
}


<h1>@ViewData["Title"]</h1>

@{
    <p>
        Article Add Successful.
        <a class="nav-link" asp-area="" asp-page="/index">Add another write.</a>
    </p>

}