@page
@model MidtermTodos.Pages.Account.Logout


@{
    ViewData["Title"] = "Log out";
}

<h1>@ViewData["Title"]</h1>

@{
    <p>
        You've been logged out
        <a class = "nav-link" asp-area="" asp-page="/Index">Click to continue.</a>
    </p>
}