@page
@model MidtermTodos.Pages.Todo.TodoAddSuccess

@{
    ViewData["Title"] = "Todo Add Success";
}


<h1>@ViewData["Title"]</h1>

@{
    <p>
        Todo Add Successful.
        <a class="nav-link" asp-area="" asp-page="/index">Add another todo.</a>
    </p>

}